 @import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');
 @import url('https://fonts.googleapis.com/css?family=Dhurjati');



 .container{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: minmax(90px, auto); 
	grid-gap: 10px;
}

header{
	grid-column: 1/7;
	background-color: hsl(240deg, 14%, 82%);
	box-shadow: 0 3px 3px 0px #000;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 10%, 80%, 10%
}

header p{
	font-size: 3em;
	color:hsl(244deg, 100%, 66%);
	font-family: 'Mukta Mahee', sans-serif;
	padding:5px 25px;
	margin:0 10px;
	text-align:center;
}
header p:first-child{
	grid-column: 1/2;
	text-shadow: -2px 2px 3px #000;
}

header p:last-child{
	grid-column: 3/4;
	text-shadow: 2px 2px 3px #000;
}

header div{
	text-align: center;
	width:50%;
	margin:auto;
	background-color: #666;
	padding:9px 12px;
	font-size: 2em;
	color:aliceblue;	
    font-family: 'Dhurjati', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

nav{
	grid-column: 3/5;
	font-family: 'Mukta Mahee', sans-serif;
	font-size:2.5em;
	text-align: center;
	padding:5%;
	visibility: hidden;
}

.draw{
	visibility: visible;
	border:5px solid hsl(115deg, 7%, 32%);
	background-color:hsl(115deg, 7%, 58%) ;
}

.win{
	visibility: visible;
	border:5px solid hsl(131deg, 100%, 61%);
	background-color: hsl(131deg, 59%, 50%);
}

.lose{
	visibility: visible;
	border:5px solid hsl(360deg, 98%, 51%);
	background-color:hsl(360deg, 90%, 41%);
}
footer{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-column:1/7;
}

footer p{
	text-align: center;
	background-color: hsl(157deg, 73%, 40%);
	border-radius: 12px;
	padding: 0px 10px;
    font-family: 'Dhurjati', sans-serif;
    font-size:2.5em;
    font-variant: small-caps;
    letter-spacing: 2px;
    border:5px solid  hsl(157deg, 73%, 20%);
}

footer p:hover{
	cursor: pointer;
	color:#fff;
	box-shadow: 0 0 15px 1px hsl(115deg, 100%, 45%);
}
footer #rock{
	grid-column: 2/3;
}
footer #paper{
	grid-column: 4/5;
}
footer #scissors{
	grid-column: 6/7;
}
#cpuSpace{
	grid-column: 1/4;
}
#playerSpace{
	grid-column: 4/7;
}

aside{
	height:250px;
}
aside img{
	display: block;
	margin: auto;
	padding: 30px;
}

aside img[src="left.png"]{
	animation-name: shakeleft;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
}


aside img[src="right.png"]{
	animation-name: shakeright;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
}
@keyframes shakeleft{
	from{
		transform: rotate(10deg);
		transform-origin:0% 100%;
	}
	to{
		transform: rotate(0deg);
	}
}
@keyframes shakeright{
	from{
		transform: rotate(10deg);
		transform-origin:100% 100%;
	}
	to{
		transform: rotate(0deg);
	}
}

